/* /styles/fonts.css */
@font-face {
  font-family: "Neue-Monteral";
  src:
    url("/fonts/Neue-Monteral/PPNeueMontreal-Regular.woff2") format("woff2"),
    url("/fonts/Neue-Monteral/PPNeueMontreal-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue-Monteral";
  src:
    url("/fonts/Neue-Monteral/PPNeueMontreal-BoldItalic.woff2") format("woff2"),
    url("/fonts/Neue-Monteral/PPNeueMontreal-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Neue-Monteral";
  src:
    url("/fonts/Neue-Monteral/PPNeueMontreal-Bold.woff2") format("woff2"),
    url("/fonts/Neue-Monteral/PPNeueMontreal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue-Monteral";
  src:
    url("/fonts/Neue-Monteral/PPNeueMontreal-Italic.woff2") format("woff2"),
    url("/fonts/Neue-Monteral/PPNeueMontreal-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Neue-Monteral";
  src:
    url("/fonts/Neue-Monteral/PPNeueMontreal-Medium.woff2") format("woff2"),
    url("/fonts/Neue-Monteral/PPNeueMontreal-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Neue-Monteral";
  src:
    url("/fonts/Neue-Monteral/PPNeueMontreal-Thin.woff2") format("woff2"),
    url("/fonts/Neue-Monteral/PPNeueMontreal-Thin.woff") format("woff");
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: "Neue-Monteral";
  src:
    url("/fonts/Neue-Monteral/PPNeueMontreal-Book.woff2") format("woff2"),
    url("/fonts/Neue-Monteral/PPNeueMontreal-Book.woff") format("woff");
  font-weight: thin;
  font-style: medium;
}
